
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-sm-12" style="text-align: center;font-size: 30px;margin-bottom: 50px"> Lịch sử nạp tiền</div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="table_over">
            <table class="display table table-bordered table-responsive dt-responsive datatable" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <td colspan="5"></td>
                        <td colspan="2">Tổng tiền: <b style='color:red;' id="all_total">17,920,000</b></td>
                        <td colspan="2">Thực nhận: <b style='color:green;' id="net_total">13,431,900</b></td>
                    </tr>
                    <tr>
                        <th style="text-align:center">Nhà mạng</th>
                        <th style="text-align:center">Số serial</th>
                        <th style="text-align:center" width="80">Mệnh giá</th>
                        <th style="text-align:center" width="100">Thời gian</th>
                        <th style="text-align:center" width="100">Trạng thái</th>
                        <th style="text-align:center" width="130">Giao dịch trước</th>
                        <th style="text-align:center" width="130">Thành công</th>
                        <th style="text-align:center" width="130">Tổng tiền</th>
                        <th style="text-align:center" class="hidden-xs">Mô tả</th>
                    </tr>
                </thead>
                <tbody id="history">
                    @foreach (var detail in ViewBag.Details)
                    {
                    <tr>
                        <td>
                            @detail.Company
                        </td>
                        <td>
                            @detail.SerialNumber
                        </td>
                        <td>
                            @detail.CardValue
                        </td>
                        <td>
                            @detail.Time
                        </td>
                        <td style="color:blue;">
                            @detail.Status
                        </td>
                        <td style="color:green;">
                            @detail.TransactionBefore
                        </td>
                        <td style="color:green;">
                            @detail.Success
                        </td>
                        <td style="color:green;">
                            @detail.Success
                        </td>
                        <td class="hidden-xs">
                            @detail.Description
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<nav aria-label="Page navigation">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
